input {
        beats {
                port => 5054
                client_inactivity_timeout => 300
        }
}

filter {
#    if [beat][hostname] == "mnisutil03" {
#        if [metricset][name] == "socket" {
#            drop {}
#        }
#    }

    #if [metricset][name] == "service" {
#       drop {}
#    }

    if [metricset][name] == "process" {
        mutate {
             add_field => {"Hex_Hostname_processname" => "%{[beat][hostname]}|%{[system][process][name]}:%{[system][process][pid]}"}
        }
    }

    if [metricset][name] == "filesystem" {
        mutate {
             add_field => {"Hex_Hostname_filesystem" => "%{[beat][hostname]}|%{[system][filesystem][mount_point]}"}
        }
    }

    ruby {
        code => "
            msm = event.get('[metricset][name]')
            if msm.index('cpu')
            cpu_util = event.get('[system][cpu][total][pct]')
            cores = event.get('[system][cpu][cores]')
            cpu_norm = cpu_util / cores.to_f
            event.set('Hex_CPUNorm', cpu_norm)
            end
        "
    }
}

output {
        elasticsearch {
                hosts => ["http://mnprdela01:9200"]
                index => "metricbeat-6.0.0-%{+YYYY.MM.dd}"
                manage_template => false
                user => "elastic"
                password => "Noida@123"
        }
}
